.container {
    background-color: #f7f7f7;
    border-radius: 15px;
    margin: 0 auto;
    border: 1px #000 solid;
    width: 20%;
    overflow: hidden;
}
#mainHeader {
    background-color: #bebdbd;
    text-align: center;
    color: #1d1c1c;
    padding: 10px;
}
#formData {
    text-align: center;
    color: #1d1c1c;
    padding: 10px
    margin: 0 auto;
}
.Label {
    text-align: left;
    margin-left: 21px;
}
.signInLabel {
    text-align: center;
    margin-left: 21px;
}
#age
#age {
    width: 30px;
}
